
  $roboto-font-path: "../../assets/fonts/AvertaDemo-Regular.otf";
  $hop-gray:#ebebeb;
  .bg-hop-grey{
    background: $hop-gray !important;
  }
  .text-hop-grey{
    color:$hop-gray !important;
  }
  .btn-default{
    background: $primary!important;
  }
  .btn-default:not([disabled]):not(.disabled):active{
    background:  $primary-active !important;
  }
  .btn{
    font-size: 12px!important;
  }
