
  $roboto-font-path: "../../assets/fonts/AvertaDemo-Regular.otf";
  $hop-gray:#ebebeb;
  .bg-hop-grey{
    background: $hop-gray !important;
  }
  .text-hop-grey{
    color:$hop-gray !important;
  }
