//Basic colors
$white:#FFF;
$cream:#d1dbea;
$pink:#F85F89;
$violet:#44476F;
$light-yellow:#D9DD80;
$blue: rgb(26, 117, 255);


//theme - colors
  $primary: $violet;
  $primary-active:$violet;
  $primary-light:$violet ;
  $secondary:$violet;
  $warning:#F4C839;


