.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  border-color: $primary-active;
  background-color: $primary-active;
  box-shadow: none !important;
}
.category-item{
  padding: 18px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;

        div{
          border:1px dashed $white;
          min-height: 170px;
          padding: 10px;
          color:$white;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          overflow: hidden;

        }
        &.modern{
          background:$pink;
        }
        &.urban{
          background:$violet ;
        }
        &.magic{
          background:$light-yellow ;
        }

}
